<!-- Swiper -->

{% if product.images.size > 0 %}
  <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
       class="swiper mySwiper2 product-single-image-slider">
    <div class="swiper-wrapper d-flex align-items-center">
      {% for img in product.images %}
        <div class="swiper-slide">
          <a href="{{ img.large }}" data-fancybox="gallery"
             data-caption="{{ img.presentation }} {{ forloop.index }}" class="d-flex align-items-center">
            <img class="w-100 h-100 object-fit-contain" height="524" width="524" src="{{ img.medium }}"
                 alt="{{ product.name }}" loading="lazy"/>
          </a>
        </div>
      {% endfor %}


    </div>
    {% if product.images.size > 1 %}
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="">
        <div class="swiper-pagination"></div>
      </div>
    {% endif %}
  </div>

  <div thumbsSlider="" class="swiper mySwiper product-single__thumbnail-images ">
    <div class="swiper-wrapper">
      {% if product.first_image.url.size > 0 %}
        {% if product.images.size > 1 %}
          {% for img in product.images %}
            <div class="swiper-slide product-single__thumnail-image">
              <img class="w-100 h-100 object-fit-contain" height="64" width="64" src="{{ img.small }}" data-variant-id="{{ img.variant_id }}"
                   alt="{{ product.name }}" loading="lazy"/>
            </div>
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% else %}
  <!--- No images found --->
  <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
       class="swiper mySwiper2 product-single-image-slider">
    <div class="swiper-wrapper d-flex align-items-center">
      <div class="swiper-slide">
        <a href="https://fakeimg.pl/546x500/282828/eae0d0/?retina=1&text=Bild Saknas"
           data-fancybox="gallery"
           data-caption="{{ product.name }} {{ forloop.index }}" class="d-flex align-items-center">
          <img class="w-100 h-100 object-fit-contain" height="524" width="524" src="https://fakeimg.pl/546x500/282828/eae0d0/?retina=1&text=Bild Saknas"
               alt="{{ product.name }}" loading="lazy"/>
        </a>
      </div>
    </div>
  </div>
{% endif %}

<!-- Initialize Swiper -->
<script>
  var thumbsSwiper = new Swiper('.product-single__thumbnail-images', {
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesProgress: true,
  });
  var mainSwiper = new Swiper('.mySwiper2', {
    spaceBetween: 10,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
    },
    thumbs: {
      swiper: thumbsSwiper,
    },
  });
</script>
